<?xml version='1.0' standalone='yes'?>
<!DOCTYPE PLUGIN>

<PLUGIN 
  name="{{ name }}"
  author="{{ author }}"
  version="{{ version }}"
  pluginURL="https://raw.githubusercontent.com/{{ githubRepository }}/{{ branch }}/plugin/{{ filename }}.plg"
  launch="Settings/Tailscale"
  support="https://github.com/{{ githubRepository }}/issues"
  min="{{ minver }}"
>

<CHANGES>
<![CDATA[
{% include "files/CHANGELOG.md" %}
]]>
</CHANGES>

<FILE Name="{{ configDirectory }}/{{ tailscaleVersion }}.tgz">
<URL>https://pkgs.tailscale.com/stable/{{ tailscaleVersion }}.tgz</URL>
<SHA256>{{ tailscaleSHA256 }}</SHA256>
</FILE>

<FILE Name="{{ configDirectory }}/unraid-tailscale-utils-{{ packageVersion }}-noarch-1.txz">
<URL>https://github.com/{{ githubRepository }}-utils/releases/download/{{ packageVersion }}/unraid-tailscale-utils-{{ packageVersion }}-noarch-1.txz</URL>
<SHA256>{{ packageSHA256 }}</SHA256>
</FILE>

<!--
The 'install' script.
-->
<FILE Run="/bin/bash">
<INLINE>
<![CDATA[
{% include "files/install.sh" %}
]]>
</INLINE>
</FILE>

<!--
The 'remove' script.
-->
<FILE Run="/bin/bash" Method="remove">
<INLINE>
<![CDATA[
{% include "files/remove.sh" %}
]]>
</INLINE>
</FILE>

</PLUGIN>
